@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.navbar {
  padding-top: 53px;
}
.openSans {
  font-family: "Open Sans", sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
}

:root {
  --green-color: #65e4a3;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.5s ease-out;
}
